<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EbateDev" parallel="false" thread-count="5">
    <test verbose="2" name="Name">
        <classes>
            <class name="Login_EBD_177">
            </class>
            <class name="View_a_package_EBD_216">
            </class>
            <class name="View_an_agreement_EBD_213">
            </class>
        </classes>
    </test>
</suite>