<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VoCActivate" parallel="false" thread-count="5">
    <parameter name="browserType" value="Chrome"/>
    <parameter name="browserProperty" value="chromedriver"/>
    <test verbose="2" preserve-order="true" name="Name">
        <classes>
            <class name="Login">
            </class>
            <class name="AddAgreement">
            </class>
            <class name="AddPackage">
            </class>
        </classes>
    </test>
</suite>